body {
	font-family: 'Pacifico', cursive;
	color:#633d0a;
	font-size: 30px;
	background-image: url('../images/pattern.png');
	background-repeat: no-repeat;
	background-size: contain;
	background-color: white;
}

h2 {
	padding: 20px;
}

.images-stack {
	// background: pink;
	position: relative;
}

.baby {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left:0;
	right: 0;
	width: 60%;
	margin: 0 auto;
	}

.bg{
	position: fix;
	display: block;
	width: 60%;
	margin: 0 auto;
}

.btn.btn-primary{
 font-family: sans-serif;
}
